html,body
{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
 
}

/* .bg-primary{
    background-color: #0F398D;
} */


.bgcolor{
    background-color: #0F398D;
    color: white;
}

.bgcolortwo{
    background-color: #E2E8F4;

}
.bgcolorone{
    background-color: #AABFE8;

}
.aboutcardscroll{
    max-height: 500px;
    overflow-y: auto;
}








.adminsidebarscroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.adminsidebarscroll{
  max-height: 600px;
  overflow-y: auto;
}
.adminbgcolor{
    background-color: #E5E5E5;
}
.admin_bg-light{
    background-color: #fff !important;
}
/* side nav start */

.sidebar {
    background: #fff; 
    width: 100%;
    color: #fff;
    text-decoration: none !important;  
    padding-left: 1px;
  }
  
  .sidebar  li {
   /* border-bottom: solid gray 1px; */
   border-radius: 1px;
   width: 100%;
  }
  .sidebar li a :hover  {
    background: #003F70 !important;
    color: white !important;
  } 
  .sidebar .nav-link {
    color:#003F70 !important;
    background: #Fff !important;
    height: 65px;
    display: flex;
    justify-content:left;
    align-items:center;
    text-decoration: none !important;
    width: 100%;
  }
  .sidebar .active a{
    background: #003F70 !important;
    color: white !important;
     text-decoration: none;
  
  } 
  .sidebar .main-nav-active{
    background: #003F70 !important;
    color: white !important;
     text-decoration: none; 
  
  }
  
/*   
  .bg-light{
         background-color: #fff !important;
  }
  
   */
  
  /* .step {
         padding: 10px;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         background-color: cream;
       }
       .v-stepper {
         position: relative;
       }
       .step .circle {
         background-color: #003258;
         border: 3px solid #003258;
         border-radius: 100%;
         width: 20px;
         height: 20px;
         display: inline-block;
       }
       .step .line {
         top: 20px;
         left: 9px;
         height: 100%;
         position: absolute;
         border-left: 3px solid #003258;
       } */
       /* .content p {
         margin: 0;
         font-size: 14px;
       }
       .content span {
         font-size: 10px;
         color: gray;
       } */
       /* .content {
         margin-left: 20px;
         display: inline-block;
       }
  
  
       .carousel-indicators [data-bs-target] {
         width: 25px;
         height: 25px;
         border-radius: 100%;
     }
  
       */
  