body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-window{
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

.chat-message-left,.chat-message-right{
  display: flex;
  flex-shrink: 0;
}

.chat-message-left{
  margin-right: auto;
}

.chat-message-right{
  margin-left: auto;
  flex-direction: row-reverse;
}

.chat-input{
  position: sticky;
  bottom: 0;

}